<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>大规模森林生成平台</title>
    <script th:src="@{/lib/jquery-1.11.3.min.js}"></script>
    <link th:href="@{/demo.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/button-bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/lib/jquery-ui.js}" type="text/javascript"></script>
    <!--End Framework-->
    <script th:src="@{/lib/jquery.ffform.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/lib/three.js}"></script>
    <script type="text/javascript" th:src="@{/lib/OrbitControls.js}"></script>
    <script type="text/javascript" th:src="@{/lib/CanvasRenderer.js}"></script>
    <script type="text/javascript" th:src="@{/lib/MLTLoder.js}"></script>
    <script type="text/javascript" th:src="@{/lib/OBJLoader.js}"></script>
    <script type="text/javascript" th:src="@{/index.js}"></script>
    <script type="text/javascript" th:src="@{/result.js}"></script>
</head>
<body class="flipInX animated" onload="init();result()">
<section id="getintouch">
    <div class="container" style="border-bottom: 0;">
        <h1>
            <span>大规模森林在线生成平台</span>
        </h1>
    </div>
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="lbl">
                    上传文件 ： <input type="file" name="file" multiple id="fileId" class="button button-border button-rounded button-tiny"/>
                </div>
                <div class="ctrl">
                    <button type="submit" name="btn" value="上传" id="btnId" onclick="upload()" class="button button-border button-rounded button-tiny">上传</button>
                </div>
            </div>
            <div class="row">
                <input type="text" placeholder="请输入森林规模（1~10）" id="num"
                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
                <button type="submit" name="btn" value="计算" id="number" onclick="blending()" class="button button-border button-rounded button-tiny" style="margin-top:10px">计算</button>
            </div>
            <div class="row">
                <a th:href="@{/main}" class="button button-glow button-border button-rounded button-primary">
                    森林浏览
                </a>
            </div>
        </div>
        <div class="txt-color">
            首先上传所有生成森林所需的树木模型文件</div>
        <div class="txt-color">
            其次输入森林规模，之后点击计算</div>
        <div class="txt-color">
            计算完成后，森林便已生成，可以浏览森林
        </div>
    </div>
</section>
<section>
    <div class="container" style="border-bottom: 0;">
        <h1>
            <span>基样例模型展示</span>
        </h1>
    </div>
    <div class="container"><canvas id="canvas" style="width:100%;height:100%"></canvas></div>
</section>
<section>
    <div class="container" style="border-bottom: 0;">
        <h1>
            <span>计算结果展示</span>
        </h1>
    </div>
    <div class="container"><canvas id="result" style="width:100%;height:100%"></canvas></div>
</section>
<script type="text/javascript">
    function upload() {
        var objFile = document.getElementById("fileId");
        if(objFile.value == "") {
            alert("不能空")
        }
        var files = $('#fileId').prop('files'); //获取到文件列表
        if(files.length == 0) {
            alert('请选择文件');
        } else {
            for(var i = 0; f = files[i]; i++) {
                var reader = new FileReader(); //新建一个FileReader
                reader.readAsText(files[i], "UTF-8"); //读取文件
                if(f.name.substr(f.name.length-3)==="obj"){
                    reader.onload = function(evt) { //读取完文件之后会回来这里
                        var fileString = evt.target.result; // 读取文件内容
                        console.log(fileString);
                        showObjTree(fileString);
                        $.ajax({
                            url:'obj',
                            method:'post',
                            data: fileString,
                            contentType:"text/html;charset=utf-8",
                            success:function(result){
                                if(result != null) {
                                    alert("上传成功！");
                                }
                            },
                            error:function (data) {
                            }
                        });
                    };
                }
                else if(f.name.substr(f.name.length-3)==="skl"){
                    reader.onload = function(evt) { //读取完文件之后会回来这里
                        var fileString = evt.target.result; // 读取文件内容
                        console.log(fileString);
                        showBaseTree(fileString);
                        $.ajax({
                            url:'data',
                            method:'post',
                            data: fileString,
                            contentType:"text/html;charset=utf-8",
                            success:function(result){
                                if(result != null) {
                                    alert("上传成功！");
                                }
                            },
                            error:function (data) {
                            }
                        });
                    }
                }
            }
        }
    }
</script>
<script type="text/javascript">
    function blending() {
        var number = document.getElementById("num").value;
        $.ajax({
            url:'blending',
            method:'post',
            data: number,
            contentType:"text/html;charset=utf-8",
            success:function(result){
                if(result != null) {
                    blendingTree(result);
                    alert("计算成功！");
                }
            },
            error:function (data) {
            }
        });
    }
</script>
</body>
</html>